@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash');
#text1 {
  font-family: 'Ravi Prakash', cursive;
}
#text2 {
  font-family: 'Ravi Prakash', cursive;
}
#text3 {
  font-family: 'Ravi Prakash', cursive;
}
